/* @import "tailwindcss"; */

/* Your custom CSS can go here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: normal;
}

/* .red {
  outline: 2px dotted red !important;
}
.green {
  outline: 2px dashed green;
} */
